.logo 
{
	text-indent: -999999px;
	background: url('bk-logo-large.png');
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.twitter-timeline 
{
	height: 490px;
}

table, th, td {
    border: 1px solid black;
}

@media screen and (min-width: 760px) {
	.logo {
			min-width: 600px;
	}
}